<header class="nav">
    <img class="nav-image" src="http://sputnik-dev.tb.walmartlabs.com/images/walmartlabs.png" alt="walmartlabs">
    <ul class="nav-routes">
      <li class="nav-route">
        <a [router-link]=" ['/Dashboard'] " class="nav-route-link">Dashboard</a>
      </li>
    </ul>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <p class="footer-message">Voyager ng2 spike <a class="footer-message-link" href="https://twitter.com/torbit">@torbit</a></p>
</footer>
